.signin {
  height: 100vh;
  background: url('../assets/login_bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.form {
  background: linear-gradient(167deg,#fafbcd 0%,#fec0b6 100%);
  border: 1px solid white;
  width: 550px;
  padding: 55px 55px 37px;
  border-radius: 10px;
}

.logo_image {
  height: 65px;
  width: 75px;
}

.image__wrapper:hover {
  background-color: rgb(0, 0, 0);
}

.image__wrapper {
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  width: fit-content;
  width: 120px;
  height: 120px;
  transition: 0.5s all;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.hint {
  transition: 0.7s all;
  color: rgb(255,0,0);
  font-size: 12px;
  height: 18px;
}

input {
  outline: none;
}

.password {
  font-size: 13px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  justify-content: space-between;
}

.btn {
  transition: 0.5s all;
}

.btn:hover {
  color: orange
}